* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

h1 {
    font-size: 17px;
    color: #5863E3;
    margin-left: 18%;
    margin-top: 3.563rem;
}

ul {
    list-style-type: none;
}

form > fieldset {
    border: none;
}

legend {
    font-size: 49px;
    width: 18%;
    margin-left: 18%;
}

textarea {
    margin-left: 18%;
    margin-top: 2%;
    height: 18.625rem;
    width: 31%;
}

textarea > p {
    color: grey;
    font-size: 14px;
}

#contact {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 20px;
    margin-top: 2%;
    margin-left: 1%;
}

fieldset {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.25rem;
}

#contact > input {
    width: 100%;
    padding: 1.188rem;
    border: 1px solid grey;
}

#contact > button {
    margin-top: 0.875rem;
    width: 100%;
    text-align: center;
    padding: 8%;
    background-color: #5863E3;
    color: white;
    border: 1px solid grey;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 64%;
    margin-top: 2%;
    margin-left: 10%;
     height: auto;
}



#icon1, #icon2, #icon3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.grey {
    font-size: 15px;
    font-weight: 700;
    color: #99999A;
}

#icon1 > i, #icon2 > i, #icon3 > i {
    font-size: 40px;
    color: #232966da;
    border-radius: 50%;
    background-color: #5863E3;
    padding: 10px 15px;
    margin-bottom: 1rem;
}

h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 700;
    color: #4E4D54;
}

#see {
    font-size: 49px;
    width: 27%;
    margin-left: 18%;
}


#img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 53px;
    flex-wrap: wrap;
}

.image {
    width: 23.313%;
    height: auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 5%;
}

.inf1, .column, .column1, .column3 {
    flex: 1 1 20%;
    height: auto;
    margin-bottom: 2rem;
    font-size: 18px;
}

.column{
    margin-left: 20%;
}

.column, .column1 > ul {
    color: #5863E3;
}

.inf1 > h4, .column > h4, .column1 > h4, .column3 > h4 {
    font-size: 26px;
    color: white;
    margin-bottom: 1.438rem;
}

.column > ul > li, .column1 > ul > li, .column3 > ul > li {
    margin-bottom: 2rem;
}

.column3 > ul > li > i {
    color: #5863E3;
}

#imagess {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 27px;
}

.soc{
    width:14%;
    height: 5%;
}

.soc2 {
    width: 10%;
    height: auto;
}

.good {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    color: white;
    padding: 3rem 5%;
}



@media only screen and (max-width: 1024px) {
    legend{
        width: 100%;
        margin-bottom: 10px;
    }
    #contact{
        width: 50%;
    }

    textarea{
        width:50%;
        margin-left: 10%
    }

    .icons{
        margin:auto;
        margin-top: 5%;
        width: 90%;
    }

    #see{
        width: 50%;
    }

    #img > .image{

        height: 300px;

    }

    footer{
        padding: 10% 1%;
        width: 119vw;
    
    }
  }

 
 
 
 
 
  @media only screen and (max-width: 768px) {
    fieldset{
        flex-direction: column;
    }
    legend{
        margin-left: 10%;
        margin-bottom: 4%;
    }
    #contact{
        width: 80%;
        margin-left: 10%;
    }

    textarea{
        width:80%;
        margin-left: 10%
    }

    .icons{
        margin:auto;
        margin-top: 5%;
        width: 80%;
    }

    #see{
        width: 70%;
    }

    #img{
        align-items: center;
    flex-direction: column;
    justify-content: center;
    }

    #img > .image{

        height: 348px;
        width: 409px;
        margin-bottom: 34px;
    }

    

    footer{
        padding: 10% 1%;
    
    }
  }

  
  
  
  
  
  @media only screen and (max-width: 480px) {
    fieldset{
        flex-direction: column;
    }
    legend{
        margin-left: 10%;
        margin-bottom: 4%;
    }
    #contact{
        width: 100%;
        margin-left: 10%;
    }

    textarea{
        width:100%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .icons{
        margin:auto;
        margin-top: 5%;
        width: 80%;
        flex-direction: column;
        margin-left: 21%;
        gap: 31px;
    }

    #see{
        width: 70%;
    }

    #img{
        align-items: center;
    flex-direction: column;
    justify-content: center;
    }

    #img > .image{

        height: 348px;
        width: 409px;
        margin-bottom: 34px;
    }

    

    footer{
        padding: 10% 1%;
    
    }
  }