*{
    margin: 0px;
    padding: 0px;
}


 h1{
font-size: 17px;
color: #5863E3;
margin-left: 9rem;
margin-top: 3.563rem;

}


form > fieldset{
    border: none;
}

legend{
    font-size: 49px;
    width: 370px;
    margin-left: 9rem;
     
}

textarea{
    margin-left: 9rem;
    margin-top: 3.563rem;
    height:18.625rem;
    width: 47.25rem;

}

textarea > p {
    color: grey;
    font-size: 14px;
}

#contact{
    display: flex;
    flex-direction: column;
    width: 23.125em;
    gap: 20px;
    margin-top: 3.563rem;
}

fieldset{
    display: flex;
    flex-direction: row;
    width:100%;
    gap: 1.25rem;
    
}

#contact > input{
width: 23.125rem;
padding: 1.188rem;
border: 1px solid grey;
}


#contact > button{
    margin-top: 0.875rem;
    width: 25.813rem;
    text-align: center;
    padding: 1.375rem 10.5rem;
    background-color: #5863E3;
    color: white;
    border: 1px solid grey;

}

.icons{
    
    display: flex;
    width: 1220px;
    margin-top: 3.188rem;
    margin-left: 9em;
     height: 8em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

#icon1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14.125rem;
    height: 8rem;
    
}

#icon2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14.125rem;
    height: 8rem;
}

#icon3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:14.125rem;
    height: 5rem;
    margin-right: 8em;
}

.grey{

font-size: 15px;
font-weight: 700;
color:#99999A;


}

#icon1 > i{
    font-size: 40px;
    color: #232966da;
    border-radius: 100%;
    background-color: #5863E3;
    padding: 5px;
    margin-bottom: 1rem;
}

#icon2 > i{
    font-size: 40px;
    color: #232966da;
    border-radius: 100%;
    background-color: #5863E3;
    padding: 3px 10px;
    margin-bottom: 1rem;
}


    #icon3 > i{
        font-size: 40px;
        color: #232966da;
        border-radius: 100%;
        background-color: #5863E3;
        padding: 3px 10px;
        margin-bottom: 1rem;

    }
    


h2{
    font-family: Helvetica;
font-size: 20px;
font-weight: 700;
color: #4E4D54;

}


#see{
    font-size: 49px;
    width: 500px;
    margin-left: 9rem;
}

#img{
    width:70%;
    height: 24em;
    display: flex;
    justify-content: space-around;
    margin-top: 53px;
    flex-direction: row;
    flex-wrap: wrap;

}

.image{
    width:23.313em;
    height:23.313em;
}




.inf1{
    width:100%;
    height: 23.25rem;
    background-color: black;
}

footer{
    display: flex;
}